randomTesting.py
RegeneratingReducedDatasets.py
TSNE-CC.jpg
TSNE on CCs dataset with Learning Rate variation.jpg
TSNE on CCs dataset with Perplexity variation.jpg
UMAP-CC.jpg
UMAP on CCs dataset with Minimum Distance variation.jpg
UMAP on CCs dataset with Nearest Neighbours variation.jpg